<!--加载可能感兴趣的-->
<style type="text/css">
    .picScroll-left{ width:776px;  overflow:hidden; position:relative;  border:1px solid #ddd;margin-top:10px;}
    .picScroll-left .hd{}
    .picScroll-left .hd .prev,.picScroll-left .hd .next{ display:block;  width:27px; height:53px; float:right;  overflow:hidden;cursor:pointer; background:url("__IMG__/tjico.png") no-repeat;position: absolute;top:140px;}
    .picScroll-left .hd .prev{ background-position:0 -27px;left: 10px;}
    .picScroll-left .hd .next{ background-position:-28px -27px;right: 10px;}/*
    .picScroll-left .hd .prevStop{ background-position:-60px 0; }
    .picScroll-left .hd .nextStop{ background-position:-60px -50px; } */
    .picScroll-left .hd .prev:hover{ background-position:-55px -27px; }
    .picScroll-left .hd .next:hover{ background-position:-82px -27px; }
    .picScroll-left .bd{ padding:10px 0 20px 40px;}
    .picScroll-left .bd ul{ overflow:hidden; zoom:1; }
    .picScroll-left .bd ul li{ margin:0 8px; float:left; _display:inline; overflow:hidden; text-align:center;  }
    .picScroll-left .bd ul li .pic{ text-align:center;margin-top: 30px;width: 160px;height: 174px;}
    .picScroll-left .bd ul li .pic img{width:100%;}
    .picScroll-left .bd ul li .pic a:hover img{ border-color:#999;  }
    .picScroll-left .bd ul li .title{ line-height:20px;width: 160px;text-align: left;}

</style>

<div class="picScroll-left">
    <div class="pscroll_t clearfix">
        <span class="color fl">我关注的商品</span>
        <div class="pscroll_a fr"><a href="#" title="">查看详情>></a></div>
    </div>
    <div class="hd">
        <a class="next"></a>
        <a class="prev"></a>
    </div>
    <div class="bd">
        <ul class="picList">
            <li>
                <div class="pic">
                    <a href="#" target="_blank">
                        <img src="__IMG__/53bf5397Ndc1ba438.jpg" />
                    </a>
                </div>
                <div class="title"><a href="#" target="_blank">智利干露红魔鬼梅洛红葡萄酒750ml</a></div>
                <p class="pri">
                    <span class="fl color"><i>￥30.5</i></span>
                    <a target="_blank" href="#" class="to push fr">加入购物车</a>
                </p>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank">
                        <img src="__IMG__/53bf5397Ndc1ba438.jpg" />
                    </a>
                </div>
                <div class="title"><a href="#" target="_blank">智利干露红魔鬼梅洛红葡萄酒750ml</a></div>
                <p class="pri">
                    <span class="fl color"><i>￥30.5</i></span>
                    <a target="_blank" href="#" class="to push fr">加入购物车</a>
                </p>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank">
                        <img src="__IMG__/53bf5397Ndc1ba438.jpg" />
                    </a>
                </div>
                <div class="title"><a href="#" target="_blank">智利干露红魔鬼梅洛红葡萄酒750ml</a></div>
                <p class="pri">
                    <span class="fl color"><i>￥30.5</i></span>
                    <a target="_blank" href="#" class="to push fr">加入购物车</a>
                </p>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank">
                        <img src="__IMG__/53bf5397Ndc1ba438.jpg" />
                    </a>
                </div>
                <div class="title"><a href="#" target="_blank">智利干露红魔鬼梅洛红葡萄酒750ml</a></div>
                <p class="pri">
                    <span class="fl color"><i>￥30.5</i></span>
                    <a target="_blank" href="#" class="to push fr">加入购物车</a>
                </p>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank">
                        <img src="__IMG__/53bf5397Ndc1ba438.jpg" />
                    </a>
                </div>
                <div class="title"><a href="#" target="_blank">智利干露红魔鬼梅洛红葡萄酒750ml</a></div>
                <p class="pri">
                    <span class="fl color"><i>￥30.5</i></span>
                    <a target="_blank" href="#" class="to push fr">加入购物车</a>
                </p>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank">
                        <img src="__IMG__/53bf5397Ndc1ba438.jpg" />
                    </a>
                </div>
                <div class="title"><a href="#" target="_blank">智利干露红魔鬼梅洛红葡萄酒750ml</a></div>
                <p class="pri">
                    <span class="fl color"><i>￥30.5</i></span>
                    <a target="_blank" href="#" class="to push fr">加入购物车</a>
                </p>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank">
                        <img src="__IMG__/53bf5397Ndc1ba438.jpg" />
                    </a>
                </div>
                <div class="title"><a href="#" target="_blank">智利干露红魔鬼梅洛红葡萄酒750ml</a></div>
                <p class="pri">
                    <span class="fl color"><i>￥30.5</i></span>
                    <a target="_blank" href="#" class="to push fr">加入购物车</a>
                </p>
            </li>
            <li>
                <div class="pic">
                    <a href="#" target="_blank">
                        <img src="__IMG__/53bf5397Ndc1ba438.jpg" />
                    </a>
                </div>
                <div class="title"><a href="#" target="_blank">智利干露红魔鬼梅洛红葡萄酒750ml</a></div>
                <p class="pri">
                    <span class="fl color"><i>￥30.5</i></span>
                    <a target="_blank" href="#" class="to push fr">加入购物车</a>
                </p>
            </li>
        </ul>
    </div>
</div>

<script type="text/javascript">
    jQuery(".picScroll-left").slide({titCell:".hd ul",mainCell:".bd ul",autoPage:true,effect:"left",autoPlay:true,easing:"easeOutCirc",vis:4,trigger:"click"});
</script>
<!--加载可能感兴趣的结束-->