<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>添加、编辑产品-后台管理-{$site.SITE_INFO.name}</title>
        <php>
            $addCss="";
            $addJs="";
            $currentNav ='产品管理 > 添加编辑产品';
        </php>
        <include file="Common:intoHead" />
        <style>
            div.spot {
                float: left;
                margin: 0 20px 0 0;
                width: 220px;
                min-height: 160px;
                border: 2px dashed #ddd;
            }
            .droparea {
                position: relative;
                text-align: center;
            }
            .droparea .instructions {
                opacity: 0.8;
                background-color: #cccccc;
                height: 25px;
                z-index: 10;
                zoom: 1;
                background-position: initial initial;
                background-repeat: initial initial;
                cursor: pointer;
            }
            .droparea div, .droparea input {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
            }
            .droparea input {
                cursor: pointer;
                opacity: 0;
            }
            .droparea div, .droparea input {
                position: absolute;
                top: 0;
                width: 100%;
                height: 100%;
            }
            #uparea1,#uparea2,#uparea3{
                height: 170px;
                cursor: pointer;
            }
        </style>
    </head>
    <body>
        <div class="wrap">
            <include file="Common:head" />
            <div class="mainBody">
                <include file="Common:left" />
                <div id="Right">
                    <div class="Item hr">
                        <div class="current">添加编辑产品</div>
                    </div>
                    <form>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table1">
                            <php>if($site['SITE_INFO']['LANG_SWITCH_ON']=='1'){</php>
                            <tr>
                                <th>语言选择：</th>
                                <td>
                                    <select name="info[lang]">
                                        <option value="zh-cn" <if condition="$info['lang'] eq 'zh-cn'">selected</if> >简体中文</option>
                                        <option value="en-us" <if condition="$info['lang'] eq 'en-us'">selected</if> >English</option>

                                    </select></td>
                            </tr>
                            <php>}</php>
                            <tr>
                                <th width="100">商品名称：</th>
                                <td><input id="title" type="text" class="input" size="60" name="info[title]" value="{$info.title}"/> <a href="javascript:void(0)" id="checkNewsTitle">检测是否重复</a></td>
                            </tr>
                            <tr>
                                <th width="100">推销语：</th>
                                <td><input id="title" type="text" class="input" size="60" name="info[tuixiao]" value="{$info.tuixiao}"/> <a href="javascript:void(0)" id="checkNewsTitle">检测是否重复</a></td>
                            </tr>
                            <tr>
                                <th width="100">是否上架：</th>
                                <td><label><input type="radio" name="info[status]" value="0" <if condition="$info.status eq 0"> checked="checked"</if> /> 否</label> &nbsp; <label><input type="radio" name="info[status]" value="1" <if condition="$info.status eq 1"> checked="checked"</if> /> 是</label> </td>
                            </tr>
                            <tr>
                                <th width="100">礼品选酒[特殊]：</th>
                                <td><label><input type="radio" name="info[is_lipin]" value="0" <if condition="$info.is_lipin eq 0"> checked="checked"</if> /> 否</label> &nbsp; <label><input type="radio" name="info[is_lipin]" value="1" <if condition="$info.is_lipin eq 1"> checked="checked"</if> /> 是</label> </td>
                            </tr>
                            <tr>
                                <th>商品类型：</th>
                                <td>
                                    <select name="info[mold_id]" id="mold">
                                        <volist name="list3" id="vo">
                                            <if condition="$vo[cid] eq $info[mold_id] AND $vo[pid] eq 0">
                                                <option value="{$vo.cid}" selected="selected">{$vo.fullname}</option>
                                                <elseif condition="$vo[pid] eq 0" />
                                                <option value="{$vo.cid}">{$vo.fullname}</option>
                                            </if>
                                        </volist>
                                    </select></td>
                            </tr>
                            <tr>
                                <th>赠送积分：</th>
                                <td><input type="text" class="input" size="20" name="info[credit]" value="{$info.credit}"/>&nbsp;&nbsp;&nbsp;分</td>
                            </tr>
							<tr>
                                <th>参团最低限购：</th>
                                <td><input type="text" class="input" size="20" name="info[zdbuy]" value="{$info.zdbuy}"/>&nbsp;&nbsp;&nbsp;件</td>
                            </tr>
							<tr>
                                <th>参团最高限购：</th>
                                <td><input type="text" class="input" size="20" name="info[zgbuy]" value="{$info.zgbuy}"/>&nbsp;&nbsp;&nbsp;件</td>
                            </tr>
							<tr>
                                <th>可参团人数：</th>
                                <td><input type="text" class="input" size="20" name="info[people]" value="{$info.people}"/>&nbsp;&nbsp;&nbsp;人</td>
                            </tr>
                            <tr>
                                <th>参团原价：</th>
                                <td><input type="text" class="input" size="20" name="info[market]" value="{$info.market}"/>&nbsp;&nbsp;&nbsp;元</td>
                            </tr>
                            <tr>
                                <th>团购价：</th>
                                <td><input type="text" class="input" size="20" name="info[price]" value="{$info.price}"/>&nbsp;&nbsp;&nbsp;元</td>
                            </tr>
                            <tr>
                                <th>开始时间：</th>
                                <td><input type="text" class="input" id="start_time" size="20" name="info[start_time]" value="{:$info[start_time] == 0 ? '' : date('Y-m-d H:i',$info[start_time])}"/>&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            <tr>
                                <th>结束时间：</th>
                                <td><input type="text" class="input" id="end_time" size="20" name="info[end_time]" value="{:$info[end_time] == 0 ? '' : date('Y-m-d H:i',$info[end_time])}"/>&nbsp;&nbsp;&nbsp;</td>
                            </tr>
                            <tr>
                                <th>商品库存：</th>
                                <td><input type="text" class="input" size="20" name="info[stock]" value="{$info.stock}"/>&nbsp;&nbsp;&nbsp;
                                    商品规格:&nbsp;&nbsp;
                                    <select name="info[cid]">
                                        <volist name="list" id="vo">
                                            <if condition="$vo[cid] eq $info[cid]">
                                                <option value="{$vo.cid}" selected="selected">{$vo.fullname}</option>
                                                <else/>
                                                <option value="{$vo.cid}">{$vo.fullname}</option>
                                            </if>
                                        </volist>
                                    </select>
                                </td>
                            </tr>
                            <tr>
                                <th>商品编号：</th>
                                <td><input type="text" class="input" size="20" name="info[number]" value="{$info.number}"/>&nbsp;&nbsp;&nbsp;不填写系统将自动生成</td>
                            </tr>


                            <tr>
                                <th>商品图片：</th>
                                <td>
                                    <if condition="$img_info eq null">
                                        <div kid="1" class="droparea spot" id="image1" style="background-image: url({$vo['savepath']});background-size: 220px 160px;" >
                                            <div class="instructions" onclick="del_image(1)">删除</div>
                                            <div id="uparea1" class="images_add"></div>
                                            <input type="hidden" name="image_1[]" id="image_1" value="{$vo['savepath']}" />
                                        </div>
                                        <else />

                                    <volist name="img_info" id="vo" key="i">
                                        <div kid="{$i}" class="droparea spot" id="image{$i}" style="background-image: url({$vo['savepath']});background-size: 220px 160px;" >
                                            <div class="instructions" onclick="del_image({$i})">删除</div>
                                            <div id="uparea{$i}" class="images_add"></div>
                                            <input type="hidden" name="image_1[]" id="image_{$i}" value="{$vo['savepath']}" />
                                        </div>
                                    </volist>
                                    </if>
                                    <div class="droparea spot" id="addimg" style="background-size: 220px 160px;">
                                        <div class="instructions">添加新的图片栏-规格400*400</div>
                                        <div style="font:180px/190px Arial;color: #999;cursor:pointer;">+</div>
                                    </div>
                                    <script>
                                        data_mold_pid = "{$info['mold_pid']}";
                                    </script>
                                </td>
                            </tr>
                            <tr>
                                <th>商品关键词：</th>
                                <td><input type="text" class="input" size="60" name="info[keywords]" value="{$info.keywords}"/> 多关键词间用半角逗号（,）分开，用于SEO优化</td>
                            </tr>
                            <tr>
                                <th>商品描述：</th>
                                <td><textarea class="input" style="height: 60px; width: 600px;" name="info[description]">{$info.description}</textarea> 用于SEO的description</td>
                            </tr>
                            <tr>
                                <th>商品参数：</th>
                                <td><textarea class="input" style="height: 60px; width: 600px;" name="info[summary]">{$info.summary}</textarea> 例如( 产地:上海 )&nbsp;&nbsp;&nbsp;如果有更多属性请按回车键</td>
                            </tr>
                            <tr>
                                <th>商品介绍：</th>
                                <td><textarea id="content" class="" style="height: 300px; width: 80%;" name="info[content]">{$info['content']}</textarea></td>
                            </tr>
                        </table>
                        <php>if(empty($_GET['do'])){</php>
                        <input type="hidden" name="info[id]" value="{$info.id}" />
                        <php>}else{
                            $action_url='__URL__/add';
                            }</php>
                    </form>
                    <div class="commonBtnArea" >
                        <button class="btn submit">提交</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <include file="Common:foot" />
        <js href="--PUBLIC--/kindeditor/kindeditor.js,--PUBLIC--/kindeditor/lang/zh_CN.js"/>
        <script type="text/javascript">
            //类型属性
            $(function(){

                //获取默认值
                var cid = $('#mold').children('option:first').val();
                //插入默认值
                var html = "<tr><th>商品属性：</th><td id='app_mold'></td></tr>";

                //加载默认值
                $('#mold').parent().parent().after(html);
                $.post("{:U('Product/s_mold')}",{cid:cid},function(data){

                    $.each(data,function(k,v){
                        $('#app_mold').append("<input type='checkbox' name='mole_pid[]' class='click_mold' value='"+ v.cid+" '/><span>"+v.name+"</span>&nbsp;&nbsp;&nbsp;");
                    });
                },'json');

                //切换数据
                $('#mold').change(function(){
                    var mid = $(this).val();
                    $('#app_mold').empty();
                    $.post("{:U('Product/s_mold')}",{cid:mid},function(data){
                        $.each(data,function(k,v){
                            $('#app_mold').append("<input type='checkbox' name='mole_pid[]' class='click_mold' value='"+ v.cid+"' /><span>" +
                                    v.name+"</span>&nbsp;&nbsp;&nbsp;");
                        });
                    },'json');
                });

                //点击事件
                $(function(){

                    $('#app_mold').delegate('.click_mold','click',function(){
                        var cid = $(this).val();
                        var pname = $(this).next('span').html();
                        if($(this).prop("checked")){
                            $.post("{:U('Product/s_mold')}",{cid:cid},function(data){
                                if(data != null){
                                    $('#app_mold').append("<div class='mold_list"+cid+"'>请选择"+pname+":&nbsp;&nbsp;&nbsp;</div>");
                                    $.each(data,function(k,v){
                                        $('.mold_list'+cid).append("<input name='mole_cid[]' type='checkbox' value='"+ v.cid+"' />"+ v.name+"&nbsp;&nbsp;&nbsp;");
                                    })
                                }
                            },'json');
                        }else{
                            $('.mold_list'+cid).remove();
                        }
                    });
                })
            })
            //添加新栏位
            if(parseInt(($('.spot').length)) >= 7){
                $('#addimg').children().html('禁止添加新的图片栏').next().css({'color':'#f00','font-size':'150px'}).html('X');
            }
            $('#addimg').bind('click',function(){
                var kid = parseInt($(this).prev().attr('kid')) + parseInt(1);
                if(parseInt(($('.spot').length)) == 7){
                    $(this).children().html('禁止添加新的图片栏').next().css({'color':'#f00','font-size':'150px'}).html('X');
                }
                if(parseInt(($('.spot').length)) > 7){
                    popup.error('您不能再添加图片栏位,已超出上限！');
                }else{
                    $(this).before($(this).prev().clone(true));
                    $(this).prev().attr({'kid':kid,'id':'image'+kid,'style':"background-size: 220px 160px"}).children('.instructions').attr('onclick',"del_image('"+kid+"')").next().attr('id','uparea'+kid).next().attr({'name':'image_1[]','id':'image_'+kid,'value':""}).next().attr('value',kid);
                }
            });

            //删除图片
            function del_image(num){
                if(num == 1 || num == '1'){
                    $('#image'+num).css('background-image','');
                    $('#image_'+num).val('');
                }else{
                    $('#image'+num).remove();
                    if(parseInt(($('.spot').length)) == 7){
                        $('#addimg').children().html('添加新的图片栏').next().css('color','#999').html('+');
                    }
                }

            }
            $(function(){
                var  content ;
                KindEditor.ready(function(K) {
                    content = K.create('#content',{
                        allowFileManager : true,
                        uploadJson:'--PUBLIC--/kindeditor/php/upload_json.php?dirname=product'
                    });
                });

                KindEditor.ready(function(K) {
                    K.create();
                    var editor = K.editor({
                        allowFileManager : true,
                        uploadJson:'--PUBLIC--/kindeditor/php/upload_json.php?dirname=product'
                        //sdl:false
                    });

                    //触发添加图片
                    $('.images_add').bind('click',function() {
                        var imgs_id = $(this).parent().attr('kid');
                        editor.loadPlugin('image', function() {
                            editor.plugin.imageDialog({
                                imageUrl: K('#image_'+imgs_id).val(),
                                clickFn: function(url, title, width, height, border, align) {
                                    $('#image'+imgs_id).css('background-image', 'url(' + url + ')').css('background-size', '220px 160px');
                                    K('#image_'+imgs_id).val(url);
                                    // K('#getImgUrl').val(url);
                                    editor.hideDialog();
                                }
                            });
                        });
                    });
                });
                $("#checkNewsTitle").click(function(){
                    if($('#title').val()==''){
                        popup.error('名称不能为空！');
                        return false;
                    }
                    $.getJSON("__URL__/checkProductTitle", { title:$("#title").val(),id:"{$info.id}"}, function(json){
                        $("#checkNewsTitle").css("color",json.status==1?"#0f0":"#f00").html(json.info);
                    });
                });
                $(".submit").click(function(){
                    if($('#title').val()==''){
                        popup.error('名称不能为空！');
                        return false;
                    }
                    content.sync();
                    commonAjaxSubmit("{$action_url}");
                    return false;
                });
                $('#start_time').datetimepicker({
                    lang:'ch',
                    format:'Y-m-d H:i',
                    minDate:'-1970/01/01'
                });
                $('#end_time').datetimepicker({
                    lang:'ch',
                    format:'Y-m-d H:i',
                    onGenerate:function( ct ){
                        jQuery(this).find('.xdsoft_date')
                                .toggleClass('xdsoft_disabled');
                    },
                    maxDate:'+1970/01/01'
                });
            });
        </script>
    </body>
</html>
