<!DOCTYPE html>
<html>
<head>
    <title>{$title}-酒富触屏版</title>
    <meta charset="utf-8">
    <meta name="author" content="jiufu9.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="keywords" content="{$seo.keywords}" />
    <meta name="description" content="{$seo.description}" />
    <link rel="stylesheet" type="text/css" href="__CSS__/base2013.css" charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="__CSS__/index.css" charset="utf-8" />
    <script type="text/javascript" src="__JS__/zepto.min.js"></script>
    <script type="text/javascript" src="__JS__/TouchSlide.1.1.js"></script>
    <script type="text/javascript" src="__JS__/html5/common.js"></script>
</head>