<footer>
    <div class="footer">
        <ul>
            <li>
                <a href="__ROOT__/" title="{$title}">
                    <i class="iconfont">&#xe603;</i>
                    <em>首页</em>
                </a>
            </li>
            <li>
                <a href="{:U('/wapCate')}" title="分类">
                    <i class="iconfont">&#xe602;</i>
                    <em>搜索分类</em>
                </a>
            </li>
            <li>
                <a href="{:U('/wapCart')}" title="我的购物车">
                    <i class="iconfont">&#xe601;</i>
                    <em>购物车</em>
                </a>
            </li>
            <li>
                <a href="{:U('/wapUser')}" title="会员中心">
                    <i class="iconfont">&#xe600;</i>
                    <em>会员中心</em>
                </a>
            </li>
        </ul>
    </div>
</footer>
</body>
</html>