<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="__CSS__/2013/ware/search_html5.css" charset="utf-8" />
<link rel="stylesheet" type="text/css" href="__CSS__/chapter.css" charset="utf-8" />
<body id="body">
<a name="top"></a>
<header>
    <div class="new-header">
        <!-- 返回上一页 -->
        <a href="javascript:history.go(-1);" class="new-a-back" id="backUrl"><span>返回</span></a>
        <!-- 当前分类 -->
        <h2>{$headName}</h2>
        <!-- 顶部导航按钮 -->
        <a href="javascript:void(0)" id="btnJdkey" class="new-a-jd"><span>酒富</span></a>
    </div>
    <!-- 顶部导航box -->
    <div class="new-jd-tab" style="display:none" id="jdkey">
        <div class="new-tbl-type">
            <a href="#" class="new-tbl-cell"> <span class="icon">首页</span> <p style="color:#6e6e6e;">首页</p> </a>
            <a href="#" class="new-tbl-cell"> <span class="icon2">分类搜索</span> <p style="color:#6e6e6e;">分类搜索</p> </a>
            <a href="javascript:void(0)" id="html5_cart" class="new-tbl-cell"> <span class="icon3">购物车</span> <p style="color:#6e6e6e;">购物车</p> </a>
            <a href="#" class="new-tbl-cell"> <span class="icon4">我的酒富</span> <p style="color:#6e6e6e;">我的酒富</p> </a>
        </div>
    </div>
</header>