<div class="footer_con" id="footer_copyright">
    <ul class="footer_copy_nav">
        <li>
            <span>|</span>
            <a href="{:U('/Help/about')}" title="关于酒富网">
            关于酒富网
        </a>
        </li>
        <li>
            <span>|</span>
            <a href="{:U('/Help/aboutus')}" title="联系我们">
            联系我们
        </a>
        </li>
        <li>
            <span>|</span>
            <a href="http://m.jiufu9.com" title="手机酒富网">
            手机酒富网
        </a>
        </li>
        <li>
            <span>|</span>
                <a href="{:U('/Member')}" title="会员中心">
            会员中心
        </a>
        </li>
        <li>
            <span>|</span>
            <a href="{:U('/Help')}" title="">
            帮助中心
        </a>
        </li>
    </ul>
    <div class="footer_tips">
        购买前请确认达到法定饮酒年龄！酒富网不销售任何含酒精产品给18岁以下人士！
    </div>
</div>
</body>
</html>