<extend name="Index:system" />
<block name="title">
    <title>我的订单列表-会员中心</title>
</block>
<!--加载订单列表-->
<block name="system">
    <iframe src="{:U('/Member/loadTuanList')}" id="iframepage" name="iframepage" frameBorder=0 scrolling=no width="100%" onLoad="iFrameHeight()" height="100%"></iframe>
    <script type="text/javascript" language="javascript">
        function iFrameHeight() {
            var ifm= document.getElementById("iframepage");
            var subWeb = document.frames ? document.frames["iframepage"].document : ifm.contentDocument;
            if(ifm != null && subWeb != null) {
                ifm.height = (subWeb.body.clientHeight);
            }
        }
    </script>
</block>